# Data Scrapping

## Import necessary libraries

In [1]:
%pip install -qq -r ../requirements.txt

Note: you may need to restart the kernel to use updated packages.

In [2]:
# Add current directory to Python path for imports
import os
import sys

# Add the parent directory (project root) to Python path so we can import from src
project_root = os.path.dirname(os.getcwd())
if project_root not in sys.path:
    sys.path.append(project_root)

In [3]:
import numpy as np
import pandas as pd

## Scraping Population Data

In [4]:
from src.scrapping import PopulationScrapping

# Scrape population
scraper = PopulationScrapping()
population_df = scraper.fetch_and_clean()
population_df.head(10)

           RCODE-DESC      CCAATT-DESC      TOTAL      HOUSE
1                                       5,455,020  3,304,462
2   ท้องถิ่นเขตพระนคร                      39,345     19,016
3   ท้องถิ่นเขตพระนคร  พระบรมมหาราชวัง      2,884      1,195
4   ท้องถิ่นเขตพระนคร   วังบูรพาภิรมย์      8,360      5,322
5   ท้องถิ่นเขตพระนคร       วัดราชบพิธ      2,781        979
6   ท้องถิ่นเขตพระนคร      สำราญราษฎร์      2,619      1,096
7   ท้องถิ่นเขตพระนคร   ศาลเจ้าพ่อเสือ      2,574      1,001
8   ท้องถิ่นเขตพระนคร        เสาชิงช้า      1,838        698
9   ท้องถิ่นเขตพระนคร         บวรนิเวศ      3,440      1,577
10  ท้องถิ่นเขตพระนคร          ตลาดยอด      1,853      1,171

In [5]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 231 entries, 1 to 231
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RCODE-DESC   231 non-null    object
 1   CCAATT-DESC  231 non-null    object
 2   TOTAL        231 non-null    object
 3   HOUSE        231 non-null    object
dtypes: object(4)
memory usage: 9.0+ KB

---