# Data Scrapping

## Import necessary libraries

In [1]:
import os, sys
print(os.getcwd())
print(sys.path)

c:\Users\ASUS\CEDT\2_1\DSDE\CEDT-2110403-DSDE-Project\notebooks
['c:\\Users\\ASUS\\anaconda3\\envs\\dsde-cedt\\python313.zip', 'c:\\Users\\ASUS\\anaconda3\\envs\\dsde-cedt\\DLLs', 'c:\\Users\\ASUS\\anaconda3\\envs\\dsde-cedt\\Lib', 'c:\\Users\\ASUS\\anaconda3\\envs\\dsde-cedt', '', 'c:\\Users\\ASUS\\anaconda3\\envs\\dsde-cedt\\Lib\\site-packages', 'c:\\Users\\ASUS\\anaconda3\\envs\\dsde-cedt\\Lib\\site-packages\\win32', 'c:\\Users\\ASUS\\anaconda3\\envs\\dsde-cedt\\Lib\\site-packages\\win32\\lib', 'c:\\Users\\ASUS\\anaconda3\\envs\\dsde-cedt\\Lib\\site-packages\\Pythonwin']

In [2]:
import sys
import os

project_root = os.path.abspath("..")  
if project_root not in sys.path:
    sys.path.append(project_root)

print("Added to sys.path:", project_root)

Added to sys.path: c:\Users\ASUS\CEDT\2_1\DSDE\CEDT-2110403-DSDE-Project

In [3]:
%pip install -qq -r ../requirements.txt

Note: you may need to restart the kernel to use updated packages.

In [4]:
# Add current directory to Python path for imports
import os
import sys

# Add the parent directory (project root) to Python path so we can import from src
project_root = os.path.dirname(os.getcwd())
if project_root not in sys.path:
    sys.path.append(project_root)

In [5]:
import pandas as pd

## Scrapping Population Data

In [6]:
from src.scrapping import PopulationScrapping

# Scrape population for year: 2567 (2024), level: 'subdistrict'
scraper = PopulationScrapping()
population_df = scraper.fetch_and_clean(save_to_csv=True)
population_df.head(5)

   province-name district-name subdistrict-name  total household
0  กรุงเทพมหานคร        พระนคร  พระบรมมหาราชวัง  2,884     1,195
1  กรุงเทพมหานคร        พระนคร   วังบูรพาภิรมย์  8,360     5,322
2  กรุงเทพมหานคร        พระนคร       วัดราชบพิธ  2,781       979
3  กรุงเทพมหานคร        พระนคร      สำราญราษฎร์  2,619     1,096
4  กรุงเทพมหานคร        พระนคร   ศาลเจ้าพ่อเสือ  2,574     1,001

In [7]:
# Scrape population for year: 2567 (2024), level: 'village'
scraper = PopulationScrapping(year=2567, level="village")
population_df = scraper.fetch_and_clean(save_to_csv=True)
population_df.head(5)

,province-name,district-name,subdistrict-name,village-name,total,household
0,สมุทรปราการ,เมืองสมุทรปราการ,แพรกษา,คลองนา,"2,452",904
1,สมุทรปราการ,เมืองสมุทรปราการ,แพรกษา,คลองเล้าหมู,"3,578","1,482"
2,สมุทรปราการ,เมืองสมุทรปราการ,แพรกษา,แพรกษาจอมทอง,"4,247","1,997"
3,สมุทรปราการ,เมืองสมุทรปราการ,แพรกษา,คลองขวาง,"20,445","8,571"
4,สมุทรปราการ,เมืองสมุทรปราการ,แพรกษา,คลองประสงค์,"5,211","2,821"

In [8]:
# Scrape population for year: 2566 (2023), level: 'subdistrict'
scraper = PopulationScrapping(year=2566, level="subdistrict")
population_df = scraper.fetch_and_clean(save_to_csv=True)
population_df.head(5)

   province-name district-name subdistrict-name  total household
0  กรุงเทพมหานคร        พระนคร  พระบรมมหาราชวัง  2,896     1,195
1  กรุงเทพมหานคร        พระนคร   วังบูรพาภิรมย์  8,489     5,326
2  กรุงเทพมหานคร        พระนคร       วัดราชบพิธ  2,846       979
3  กรุงเทพมหานคร        พระนคร      สำราญราษฎร์  2,654     1,105
4  กรุงเทพมหานคร        พระนคร   ศาลเจ้าพ่อเสือ  2,676     1,000

In [9]:
# Scrape population for year: 2565 (2022), level: 'subdistrict'
scraper = PopulationScrapping(year=2565, level="subdistrict")
population_df = scraper.fetch_and_clean(save_to_csv=True)
population_df.head(5)

   province-name district-name subdistrict-name  total household
0  กรุงเทพมหานคร        พระนคร  พระบรมมหาราชวัง  3,137     1,195
1  กรุงเทพมหานคร        พระนคร   วังบูรพาภิรมย์  8,792     5,361
2  กรุงเทพมหานคร        พระนคร       วัดราชบพิธ  2,913       979
3  กรุงเทพมหานคร        พระนคร      สำราญราษฎร์  2,712     1,129
4  กรุงเทพมหานคร        พระนคร   ศาลเจ้าพ่อเสือ  2,747     1,000

---

In [10]:

from src.scrapping  import BangkokIndexScrapping

In [11]:

scraper = BangkokIndexScrapping()
df_bangkok_index = scraper.fetch_and_clean(save_to_csv=True)

กำลังดึงข้อมูลจาก: https://docs.google.com/spreadsheets/d/1S0Tu-US8xSbAysp75ProEOZBneUcyDS6uhw9KNNfelE/export?format=csv&gid=0
บันทึกไฟล์สำเร็จ: c:\Users\ASUS\CEDT\2_1\DSDE\CEDT-2110403-DSDE-Project\notebooks\bangkok_index_district_final.csv (ใช้ UTF-8-BOM)

In [12]:
df_bangkok_index.head()

,จังหวัด,เขต,คะแนนรวม,บริการสาธารณะ/อันดับ,บริการสาธารณะ/คะแนน,เศรษฐกิจ/อันดับ,เศรษฐกิจ/คะแนน,สวัสดิภาพ/อันดับ,สวัสดิภาพ/คะแนน,สิ่งแวดล้อม/อันดับ,สิ่งแวดล้อม/คะแนน
0,กรุงเทพมหานคร,ป้อมปราบศัตรูพ่าย,34.85,15,29.79,8,39.56,1,43.54,21,26.50
1,กรุงเทพมหานคร,ปทุมวัน,34.75,2,38.79,1,48.69,7,35.13,45,16.38
2,กรุงเทพมหานคร,พระนคร,34.75,17,28.88,6,41.56,4,38.08,15,30.50
3,กรุงเทพมหานคร,สัมพันธวงศ์,33.53,26,26.21,4,43.19,2,41.08,32,23.63
4,กรุงเทพมหานคร,ราชเทวี,32.32,4,37.92,10,38.31,22,26.67,22,26.38

In [13]:
df_bangkok_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   จังหวัด               50 non-null     object
 1   เขต                   50 non-null     object
 2   คะแนนรวม              50 non-null     float64
 3   บริการสาธารณะ/อันดับ  50 non-null     int64
 4   บริการสาธารณะ/คะแนน   50 non-null     float64
 5   เศรษฐกิจ/อันดับ       50 non-null     int64
 6   เศรษฐกิจ/คะแนน        50 non-null     float64
 7   สวัสดิภาพ/อันดับ      50 non-null     int64
 8   สวัสดิภาพ/คะแนน       50 non-null     float64
 9   สิ่งแวดล้อม/อันดับ    50 non-null     int64
 10  สิ่งแวดล้อม/คะแนน     50 non-null     float64
dtypes: float64(5), int64(4), object(2)
memory usage: 4.4+ KB

In [14]:
scraper = BangkokIndexScrapping()
df = scraper.fetch_and_clean(save_to_csv=True)
df.head()

กำลังดึงข้อมูลจาก: https://docs.google.com/spreadsheets/d/1S0Tu-US8xSbAysp75ProEOZBneUcyDS6uhw9KNNfelE/export?format=csv&gid=0
บันทึกไฟล์สำเร็จ: c:\Users\ASUS\CEDT\2_1\DSDE\CEDT-2110403-DSDE-Project\notebooks\bangkok_index_district_final.csv (ใช้ UTF-8-BOM)

,จังหวัด,เขต,คะแนนรวม,บริการสาธารณะ/อันดับ,บริการสาธารณะ/คะแนน,เศรษฐกิจ/อันดับ,เศรษฐกิจ/คะแนน,สวัสดิภาพ/อันดับ,สวัสดิภาพ/คะแนน,สิ่งแวดล้อม/อันดับ,สิ่งแวดล้อม/คะแนน
0,กรุงเทพมหานคร,ป้อมปราบศัตรูพ่าย,34.85,15,29.79,8,39.56,1,43.54,21,26.50
1,กรุงเทพมหานคร,ปทุมวัน,34.75,2,38.79,1,48.69,7,35.13,45,16.38
2,กรุงเทพมหานคร,พระนคร,34.75,17,28.88,6,41.56,4,38.08,15,30.50
3,กรุงเทพมหานคร,สัมพันธวงศ์,33.53,26,26.21,4,43.19,2,41.08,32,23.63
4,กรุงเทพมหานคร,ราชเทวี,32.32,4,37.92,10,38.31,22,26.67,22,26.38