# Data Scrapping

## Import necessary libraries

In [1]:
%pip install -qq -r ../requirements.txt

Note: you may need to restart the kernel to use updated packages.

In [2]:
# Add current directory to Python path for imports
import os
import sys

# Add the parent directory (project root) to Python path so we can import from src
project_root = os.path.dirname(os.getcwd())
if project_root not in sys.path:
    sys.path.append(project_root)

In [3]:
import pandas as pd

## Scrapping Population Data

In [4]:
from src.scrapping import PopulationScrapping

# Scrape population for year: 2567 (2024), level: 'subdistrict'
scraper = PopulationScrapping()
population_df = scraper.fetch_and_clean(save_to_csv=True)
population_df.head(5)

   province-name district-name subdistrict-name  total household
0  กรุงเทพมหานคร        พระนคร  พระบรมมหาราชวัง  2,884     1,195
1  กรุงเทพมหานคร        พระนคร   วังบูรพาภิรมย์  8,360     5,322
2  กรุงเทพมหานคร        พระนคร       วัดราชบพิธ  2,781       979
3  กรุงเทพมหานคร        พระนคร      สำราญราษฎร์  2,619     1,096
4  กรุงเทพมหานคร        พระนคร   ศาลเจ้าพ่อเสือ  2,574     1,001

In [5]:
# Scrape population for year: 2567 (2024), level: 'village'
scraper = PopulationScrapping(year=2567, level="village")
population_df = scraper.fetch_and_clean(save_to_csv=True)
population_df.head(5)

,province-name,district-name,subdistrict-name,village-name,total,household
0,สมุทรปราการ,เมืองสมุทรปราการ,แพรกษา,คลองนา,"2,452",904
1,สมุทรปราการ,เมืองสมุทรปราการ,แพรกษา,คลองเล้าหมู,"3,578","1,482"
2,สมุทรปราการ,เมืองสมุทรปราการ,แพรกษา,แพรกษาจอมทอง,"4,247","1,997"
3,สมุทรปราการ,เมืองสมุทรปราการ,แพรกษา,คลองขวาง,"20,445","8,571"
4,สมุทรปราการ,เมืองสมุทรปราการ,แพรกษา,คลองประสงค์,"5,211","2,821"

In [6]:
# Scrape population for year: 2566 (2023), level: 'subdistrict'
scraper = PopulationScrapping(year=2566, level="subdistrict")
population_df = scraper.fetch_and_clean(save_to_csv=True)
population_df.head(5)

   province-name district-name subdistrict-name  total household
0  กรุงเทพมหานคร        พระนคร  พระบรมมหาราชวัง  2,896     1,195
1  กรุงเทพมหานคร        พระนคร   วังบูรพาภิรมย์  8,489     5,326
2  กรุงเทพมหานคร        พระนคร       วัดราชบพิธ  2,846       979
3  กรุงเทพมหานคร        พระนคร      สำราญราษฎร์  2,654     1,105
4  กรุงเทพมหานคร        พระนคร   ศาลเจ้าพ่อเสือ  2,676     1,000

In [7]:
# Scrape population for year: 2565 (2022), level: 'subdistrict'
scraper = PopulationScrapping(year=2565, level="subdistrict")
population_df = scraper.fetch_and_clean(save_to_csv=True)
population_df.head(5)

   province-name district-name subdistrict-name  total household
0  กรุงเทพมหานคร        พระนคร  พระบรมมหาราชวัง  3,137     1,195
1  กรุงเทพมหานคร        พระนคร   วังบูรพาภิรมย์  8,792     5,361
2  กรุงเทพมหานคร        พระนคร       วัดราชบพิธ  2,913       979
3  กรุงเทพมหานคร        พระนคร      สำราญราษฎร์  2,712     1,129
4  กรุงเทพมหานคร        พระนคร   ศาลเจ้าพ่อเสือ  2,747     1,000

---